body
{
	margin:0px;
	
	/* background-image: radial-gradient(rgb(27, 27, 27), rgb(37, 37, 37), rgb(49, 49, 49) ,rgb(65, 65, 65), rgb(82, 82, 82));
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite; */

	background-color: black;
}

/* @keyframes change
{
	0%
	{
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 50%;
    }
} */


.body-container
{
	background-color: black;
}

a
{
	color:white;
	text-decoration: none;
}


.primary-navigation
{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	padding: 0;
	text-align: center;
	font-size: 32px;
}

.primary-navigation ul
{
	margin: 0;
}

.primary-navigation ul li
{
	list-style: none;
	margin: 0;
	display: inline-block;
	padding: 0;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-family: Bradley Hand, cursive;
}

.primary-navigation li a
{
	color:white;
}

.primary-navigation li:hover
{
	cursor: pointer;
}

.primary-navigation ul li ul
{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	left: 0;
	display: none;
	background: black;
	z-index:999;
}

.primary-navigation ul li:hover > ul,
.primary-navigation ul li ul:hover
{
	visibility: visible;
	opacity: 0.85;
	display: block;
	min-width: 300px;
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
}

.primary-navigation ul li ul li
{
	clear: both;
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	border-style: none;
	color: white;
}

.primary-navigation ul li ul li:hover
{
	padding-left: 10px;
	border-left: 2px solid white;
	transition: all 0.3s ease;
}

ul li ul li a
{
	transition: all 0.5s ease;
}

.menu-icon
{
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#main-header
{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

#videoBG
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* object-fit: none; */
	object-position: center;
}

#dropdown-text
{
	color:white;
	text-align:center;
	font-family: Bradley Hand, cursive;
}

#main-footer
{
	background-color:black;
	color: #fff;
	text-align: center;
	font-family: Bradley Hand, cursive;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main-footer p
{
	margin: 0;
}

#latest
{
	padding: 0;
	line-height:0px;
}

#latest img
{
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: center;
}

.image-grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	line-height:0px;
	
	transition: 0.4s;
}

.linkable-image
{
	position: relative;
	
	transition: 0.4s;
	
	cursor: pointer;
}

.singleList
{
	cursor: pointer; 
}

.linkable-image:hover img
{
	opacity: 0.5;
}

.linkable-image img
{
	opacity: 0.75;
	transition: 0.4s;
}

.linkable-image h1
{
	position: absolute;
	
	width:100%;
	height:100%;
	
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 0;
	
	color: white;
	font-family: Bradley Hand, cursive;
	font-size: 36px;
	
	transition: 0.4s;
}

.linkable-image h2
{
	position: absolute;
	
	width:100%;
	height:100%;
	
	top: 40%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	color: white;
	font-family: Bradley Hand, cursive;
	font-size: 56px;
	
	transition: 0.4s;
}

.linkable-image p
{
	position: absolute;
	
	width:100%;
	height:100%;
	
	top: 55%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	color: white;
	font-family: Bradley Hand, cursive;
	font-size: 16px;
	
	transition: 0.4s;
}

.gallery
{	
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	
	transition: 0.4s;
}

.vertical
{
	grid-row: span 2;
}

.small-panoramic
{
	grid-column: span 2;
}

.large-panoramic
{
	grid-column: span 3;
}

.bigger
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery div img
{
	width: 100%;
	height: 100%;
	display:block;
	
	transition: 0.4s;
}

@media (orientation: landscape) and (max-width: 1040px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		line-height:0px;
		
		transition: 0.4s;
	}
	
	.linkable-image h1
	{
		position: absolute;
		
		top: 45%;
		left: 50%;
		
		transform: translate(-50%, -50%);
		
		color: white;
		font-family: Bradley Hand, cursive;
		font-size: 24px;
		
		transition: 0.4s;
	}
}

@media (orientation: landscape) and (max-width: 700px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		line-height:0px;
		transition: 0.4s;
	}
	
	.linkable-image h1
	{
		position: absolute;
		
		top: 45%;
		left: 50%;
		
		transform: translate(-50%, -50%);
		
		color: white;
		font-family: Bradley Hand, cursive;
		font-size: 16px;
		transition: 0.4s;
	}
}

@media (orientation: portrait)
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		line-height:0px;
		transition: 0.4s;
	}
	
	.gallery
	{
		display: grid;
		line-height:1px;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-flow: dense;
		transition: 0.4s;
	}
	
	.small-panoramic
	{
		grid-column: span 1;
	}
	
	.large-panoramic
	{
		grid-column: span 1;
	}

	.vertical
	{
		grid-row: span 1;
	}

	.bigger
	{
		grid-row: span 1;
		grid-column: span 1;
	}
	
}

@media (hover: hover) {
	/*
	.primary-navigation ul li:hover > ul,
	.primary-navigation ul li ul:hover
    {
        background-color: blue;
	}
	*/

	.primary-navigation ul li ul li:hover
	{
		visibility: hidden;
	}
}

