body
{
	margin:0px;
	background-color:#212121;
}

a
{
	color:white;
	text-decoration: none;
}

#main-header
{
	background-color:#212121;
	color:white;
	text-align:center;
	font-family: Bradley Hand, cursive;
	overflow:hidden;
}

#main-footer
{
	background-color:#212121;
	color: #fff;
	text-align: center;
	font-family: Bradley Hand, cursive;
}

.image-grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	line-height:0px;
}

.linkable-image
{
	position: relative;
}

.linkable-image img
{
	opacity: 0.75;
}

.linkable-image-title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
    font-family: Bradley Hand, cursive;
    font-size:36px;
}

.gallery
{
	
	
	display: grid;
	grid-gap: 1px;
	/*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
	grid-template-columns: repeat(3, 1fr);
	/*grid-auto-rows: 250px;*/
	grid-auto-flow: dense;
}

.panoramic
{
	grid-column: span 2;
}

.bigger
{
	grid-row: span 2;
	grid-column: span 2;
}

.gallery div img
{
	width: 100%;
	/*
	height: 100%;
	object-fit: cover;
	*/
	display:block;
	
}

/*
@media only screen and (max-width: 768px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		line-height:0px;
	}
}
*/

@media (orientation: landscape) and (max-width: 1040px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		line-height:0px;
	}
	
	.linkable-image-title
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		font-family: Bradley Hand, cursive;
		font-size:24px;
	}
}

@media (orientation: landscape) and (max-width: 700px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		line-height:0px;
	}
	
	.linkable-image-title
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		font-family: Bradley Hand, cursive;
		font-size:16px;
	}
}

@media (orientation: portrait)
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		line-height:0px;
	}
	
	.gallery
	{
		display: grid;
		line-height:1px;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-flow: dense;
	}
	
	.panoramic
	{
		grid-column: span 1;
	}

	.bigger
	{
		grid-row: span 1;
		grid-column: span 1;
	}
	
}

