body
{
	margin:0px;
	background-color:#000;
}

a
{
	color:white;
	text-decoration: none;
}

#main-header
{
	background-color:#212121;
	color:white;
	text-align:center;
	font-family: Bradley Hand, cursive;
	overflow:hidden;
}

#main-footer
{
	
	color: #fff;
	text-align: center;
	font-family: Bradley Hand, cursive;
}

.image-grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	line-height:0px;
}

.linkable-image
{
	position: relative;
}

.linkable-image img
{
	opacity: 0.75;
}

.linkable-image-title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
    font-family: Bradley Hand, cursive;
    font-size:48px;
}


@media only screen and (max-width: 768px) 
{
	.image-grid
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		line-height:0px;
	}
}

